@tailwind base;
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #373749;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    background: #6f6af3;
    border-radius: 16px;
}

@keyframes flash {
    20% {
        color: #726ef3;
    }
    50% {
        color: tan;
    }
    80% {
        color: #8d582c;
    }
}
.flash-green {
    animation: flash 1s linear;
}

@tailwind components;
@tailwind utilities;
